*{
  margin: 0;
  padding: 0;
} 

html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: black;
  color: white;
  height: 100vh;

  display: flex;
  justify-content: center; 
  align-items: center;
} 

#border{
  border: 8px solid #fff;
}
/* ????? */



